.contactss{
    position: absolute;
    top: 90px;
    right:150px;
    text-align:left;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    align:left;
    color: black;
    flex-direction: column;
    box-sizing: border-box;
}
.contactus{
    width: auto;
    height: auto;
    opacity:0.5;


}
.heading{
    position: absolute;
    align:center;
    top:25px;

}

